<p>hand-writ-reminder works!</p>
<div  style="width: 300px;  "class="example-button-row" >
    <div style="  width:550px; height: 720px; margin: auto; margin-left: 510px; margin-top: 100px; ">
    
  <!-- ליצור פור שלפי התדירות ביום יפתח ההתראות -->
    
    <!-- <div style="margin-left:170px;" class="form__group field">
        <input style="width: 200px ;" type="text" class="form__field" placeholder="התראה" name="Alarm‏" id='alarm‏' required />
        <label style="color: white;" for="alarm‏" class="form__label">התראה</label>
    </div> -->        
    
        <div style="margin-left:170px;" class="form__group field">
            <input style="width: 200px ; text-align: right;" type="text" class="form__field" placeholder="שם התזכורת " name="ReminderName" id='ReminderName' required />
            <label style="color: white; margin-left: 123px;" for="date" class="form__label">שם התזכורת</label>
        </div>
    
    
    
    </div>
    </div>
    