<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<span  style=" font-size:22px; color:white; margin-top: 45px; margin-left: 900px;" class="glyphicon glyphicon-user" routerLink="/scannePage" ></span> ‏

<form [formGroup]="MedicineService.alarmForm">
<div  style="width: 300px;  "class="example-button-row" >
    <div style="  width:550px; margin: auto; margin-left: 500px; margin-top: 100px; ">
   
        <div  style=" margin-left:135px; margin-top: 150px;"  class="form__group field">
            <input style="width: 250px; text-align: right; " formControlName="SubjectReminder" type="text" class="form__field" placeholder="שם תזכורת" name="ReminderName" id='reminderName' required />
            <label style="color: white; margin-left: 180px;  " for="reminderName" class="form__label">שם תזכורת</label>
        </div><br> <br> <br> <br>
        
        <!-- [value]="MedicineService.alarmForm.get(alarm).value | date:'HH:mm'"  -->
          
        <div *ngFor="let myDate of remideserve.alarmListDate ; let i=index  "style="margin-left:135px;" class="form__group field">
            <input style="width: 250px; text-align: right;"  formControlName="alarm{{i}}"  type="text" class="form__field" placeholder="התראה" name="Alarm‏" id='alarm‏' required />
            <label style="color: white; margin-left: 190px;"  class="form__label">{{i+1}} התראה</label>
        </div><br>
        <!-- formControlName="alarm{{i}}|date:'HH:mm'" -->
        <div style="margin-top: 170px; margin-left: 120px; color: white;  font-size: 17px;  font-family: 'Calibri';"    >חזור לפרטי הסריקה
            <span style=" margin-left:10px; color: white; font-size: 25px;" class="glyphicon glyphicon-arrow-right" routerLink="/handWritMedicine"></span> 
            <span style=" margin-left: 75px; color: white; font-size: 25px;" class="glyphicon glyphicon-ok"(click)="ok()"></span> 
            <!-- (click)="delete()" -->
        </div>
       
    </div>
</div>
</form>
    