<div class="login"  style="margin-top: 100px;">    
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form method="post">  
        <input style="margin-left: 600px; text-align: right; padding: 10px 20px; border-radius: 100px; width: 350px; font-size:15px; font-family: 'Varela Round'; background-color: white; font-size: 17px;" 
        type="text" name="u" placeholder="שם משתמש" required="required" /><br><br>

        <input style="margin-left: 600px; text-align: right; padding: 10px 20px; border-radius: 100px; width: 350px; font-size:15px; font-family: 'Varela Round'; background-color: white; font-size: 17px;"
        type="text" name="u" placeholder="סיסמה " required="required" /><br><br>

        <button style="margin-left: 600px; padding: 10px 20px; text-align: center; border-radius: 100px; width: 350px; font-size:15px; font-family: 'Varela Round'; background-color: white; font-size: 17px;" 
        type="submit">Google התחברות באמצעות </button> <br><br>

        <button style="margin-left: 600px; padding: 10px 20px; text-align: center; border-radius: 100px; width: 350px; font-size:15px; font-family: 'Varela Round'; background-color: white; font-size: 17px;" 
        type="submit">התחברות </button> <br>       
    </form>
</div>
               