 
 <!-- <div class="col-sm-12" style=" height: 750px;  background-color: rgb(1,2,47); "> -->
        <!-- <div style="  width:550px; height: 720px; margin: auto; border: 1px solid rgba(217, 226, 236, 0.877); display: flex; align-items: center; justify-content: center; background-color: rgba(14, 14, 71, 1); "> -->
        <div class="login" >    
            <h1>Login</h1><br><br><br><br>
            <form method="post">  
                <input style=" padding: 10px 20px; border-radius: 100px; width: 300px; font-size:15px;" 
                type="text" name="u" placeholder="Username" required="required" />

                <input style=" padding: 10px 20px; border-radius: 100px; width: 300px; font-size:15px; " 
                 type="password" name="p" placeholder="Password" required="required" />

                <button style=" padding: 10px 20px;  text-align: center; display: inline-block; margin: 4px 2px;cursor: pointer;border-radius: 100px; width: 300px; font-size:15px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;color: blue;" 
                 type="submit" class="rounded-left">Log in</button> 
              
                <br>
          
               
                <!-- <button  type="submit" class="btn btn-primary btn-block btn-large" >Log in</button> 
                   </form> 
            </form>

            
            <a class="google btn" (click)="signIn()">
                <i class="fa fa-google fa-fw"  ></i> Login with Google+
            </a>
        </div> -->
        <!-- </div> -->
        
 <!-- </div> -->

 <!-- <input type="password" class="form-control" id="pwd" name="password" size="15px">  -->