<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<span  style=" font-size:22px; color:white; margin-top: 45px; margin-left: 900px;" class="glyphicon glyphicon-user"></span> ‏

<div style=" width: 300px;  ">
    <div style="  width:550px; margin-left: 500px; margin-top: 100px;">
      <div style="margin-left: 60px;"  class="search-box">
        <button class="btn-search"><i style="font-size: 25px;" class="glyphicon glyphicon-search"></i></button>

        <input   id="myInput" (keydown)="myFunction()" style="text-align: center;" type="text" title="Type in a name" class="input-search" placeholder="חיפוש תרופה">
      </div>
      <body>
        <section>
          <div class="tbl-header">
            <table id="myTable" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th>תאריך תפוגה</th>
                  <th>תאריך כניסה למאגר</th>
                  <th>שם תרופה</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0">
              <tbody id="contentTable">
                 <tr *ngFor="let item of lmedicine" [style.background-color]="mapColorsStatus.get(item.status)">
                   <td> {{item.ExpiryDate|date:'d/M/yy'}} </td>
                   <td> {{item.InserDate|date:'d/M/yy'}}  </td> 
                   <td id="medicineName"> {{item.NameMedicine}} </td>
                   <!-- <td><div [ngClass]="item.ExpiryDate <date ? 'div-style1' : 'div-style2'"> </div></td>   -->
                   <!--<td><div [ngClass]="{'div-style1': func == 'a', 'div-style2': func =='b', 'div-style3':func =='c'}" > </div></td> -->
                 </tr>
              </tbody>
            </table>
          </div>
        </section>
      </body>

<div >
    <div style="margin-left: 75px; height: 3px; width: 120px; background-color: orange;">
      <div style="margin-left: 175px; height: 3px; width: 60px; background-color: red;"></div>
      <div style="margin-left: 300px; height: 3px; width: 90px; background-color: green;"></div>
    </div>
    
  <div style="margin-left: 80px; font-family: 'Varela Round'; font-size: 15px; color: white;">התוקף עומד לפוג
    <div style="margin-left: 175px; margin-top: -20px; font-family: 'Varela Round'; font-size: 15px; color: white;">פג תוקף</div>
    <div style="margin-left: 300px; margin-top: -20px; font-family: 'Varela Round'; font-size: 15px; color: white;">תקין לשימוש</div>
  </div>
</div>

  </div>
</div>


