<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  


<span  style=" font-size:22px; color:white; margin-top: 45px; margin-left: 900px;" class="glyphicon glyphicon-user" routerLink="/scannePage" ></span> 
<br><br><br><br><br><br>
<div style="color: white;text-align: center; font-size:30px;  font-family: 'Calibri';" >תיזכורות פעילות</div>
<div style=" width: 300px; ">
  <div style=" font-family: 'Calibri'; width:550px; margin-left: 500px; margin-top:100px ;"> 
    <body>
    <section>
      <div class="tbl-header">
        <table style=" font-size: 50px;font-family: 'Calibri';" cellpadding="0" cellspacing="0" >
          <thead>
            <tr>
              <th >פירוט</th>
              <th>עריכה</th>
              <!-- <th>עריכה</th> -->
              <th>ימים שנותרו</th>
              <th>התזכורת הבאה</th>
              <th>שם תרופה</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr *ngFor="let activeReminder of ListActivityReminders">
              <td (click)="showDetails(activeReminder)">לחץ</td>
              <td>
                <!-- <span  style=" font-family: 'Calibri';font-size: 20px;" class="glyphicon glyphicon-stop"></span> -->
                <span style=" font-family: 'Calibri';font-size: 20px; margin-left: 12px;"  class="glyphicon glyphicon-pencil"></span>
              </td>
              <td>{{activeReminder.LeftDays}}</td>
              <td>{{getNextTime(activeReminder) | date:'HH:mm'}}</td>
              <td>{{activeReminder.MedicineName}}</td>
            </tr>
            <!-- <tr>
              <td>1</td>
              <td style=" font-family: 'Calibri';">
                <span  style=" font-family: 'Calibri';font-size: 20px;" class="glyphicon glyphicon-stop"></span>
                <span style=" font-family: 'Calibri';font-size: 20px; margin-left: 12px;"  class="glyphicon glyphicon-pencil"></span>
              </td>
              <td>2</td>
              <td>16:15</td>
              <td>Acamol</td>
            </tr> -->
            <!-- <tr>
              <td style=" font-family: 'Calibri';">2</td>
              <td style=" font-family: 'Calibri';">16:15</td>
              <td style=" font-family: 'Calibri';">Acamol</td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <span style=" font-family: 'Calibri';font-size: 20px;" class="glyphicon glyphicon-stop"></span>
                <span style=" font-family: 'Calibri';font-size: 20px; margin-left: 12px;"  class="glyphicon glyphicon-pencil"></span>
              </td>
              <td>5</td>
              <td>18:00</td>
              <td>Acamol</td>
            </tr>
            <tr>
             
          
          
          </tbody>
        </table>
      </div>
    </section>

    </body>
  </div>
</div>


