<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

 
 <div style=" width: 300px;  ">
    <div style="  width:550px; margin-left: 500px; margin-top: 200px;">
    
<body>
<section>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>פירוט</th>
          <th>עריכה/עצירה</th>
          <!-- <th>עריכה</th> -->
          <th>ימים שנותרו</th>
          <th>התזכורת הבאה</th>
          <th>שם תרופה</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>1</td>
          <td>
             <span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span>
             <span style="font-size: 20px; margin-left: 12px;"  class="glyphicon glyphicon-pencil"></span>
          </td>
          <td>2</td>
          <td>16:15</td>
          <td>Acamol</td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span>
            <span style="font-size: 20px; margin-left: 12px;"  class="glyphicon glyphicon-pencil"></span>
          </td>
          <td>5</td>
          <td>18:00</td>
          <td>Acamol</td>
        </tr>
        <tr>
          <td>3</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>3</td>
          <td>078546521</td>
        </tr>
        <tr>
          <td>4</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>6</td>
          <td>024584544</td>
        </tr>
        <tr>
          <td>5</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>12</td>
          <td>081231544</td>
        </tr>
        <tr>
          <td>6</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>9</td>
          <td>082154325</td>
        </tr>
        <tr>
          <td>7</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>3</td>
          <td>078546521</td>
        </tr>
        <tr>
          <td>8</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>1</td>
          <td>024584544</td>
        </tr>
        <tr>
          <td>9</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>6</td>
          <td>081231544</td>
        </tr>
        <tr>
          <td>10</td>
          <td><span style="font-size: 20px;" class="glyphicon glyphicon-stop"></span></td>
          <td><span style="font-size: 20px;"  class="glyphicon glyphicon-pencil"></span></td>
          <td>4</td>
          <td>082154325</td>
        </tr>
      

      </tbody>
    </table>
  </div>
</section>

</body>
</div>
</div>


