<!-- <div style=" height: 750px; widows: 300px; background-color: rgb(1,2,47); ">
   <h1 style="color: rgb(245,210,188)">hkdejdjjdjd djdjjd jdjdjdjd d</h1>
   <h1 style="color: rgb(191,151,187)">hkdejdjjdjd djdjjd jdjdjdjd d</h1>

   <h1 style="color: rgba(25,181,196,255)">שלום</h1>
   <input  type = "file" name = "file" id = "file"  class = "inputfile" /> -->
   <!-- <button type="button" class="btn btn-primary">Apple</button> -->
<!-- <div style="color: rgb(255,190,136)"> <input type="file" (change)="upload($event.target.files)" accept="image/*"> </div> -->
<!-- 
</div> -->



<!-- <app-log-in></app-log-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-scanne-page></app-scanne-page> -->
<!-- <app-hand-writ-medicine></app-hand-writ-medicine> -->
<!-- <app-details-medicine-take></app-details-medicine-take> -->
<app-hand-writ-reminder></app-hand-writ-reminder>
<app-hand-writ-reminder></app-hand-writ-reminder>
<!-- <app-activity-reminders></app-activity-reminders> -->
<app-search-medicine></app-search-medicine>

<!-- <router-outlet></router-outlet> -->