<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<span  style=" font-size:22px; color:white; margin-top: 45px; margin-left: 900px;" class="glyphicon glyphicon-user"></span> ‏

<div  style="width: 300px;  "class="example-button-row" >
    <div style=" width:550px; margin: auto; margin-left: 510px; margin-top: 65px; ">

        <div  style=" margin-left:135px; margin-top: -30px;"  class="form__group field">
            <input style="width: 250px; text-align: right; " type="text" class="form__field" placeholder="שם התרופה" name="NameMedicine" id='namemedicine' required />
            <label style="color: white; margin-left: 175px;  " for="namemedicine" class="form__label">שם התרופה</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px; text-align: right;" type="text" class="form__field" placeholder=" שם הפציינט" name="NamePatient" id='namepatient' required />
            <label style="color: white; margin-left: 175px;  " for="namepatient" class="form__label">שם הפציינט</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px ; text-align: right;" type="text" class="form__field" placeholder="תאריך התחלה" name="Date" id='date' required />
            <label style="color: white; margin-left: 160px;" for="date" class="form__label">תאריך התחלה</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px ; text-align: right;" type="text" class="form__field" placeholder="מינון" name="Minun" id='Minun' required />
            <label style="color: white; margin-left: 220px;" for="Minun" class="form__label">מינון</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px ; text-align: right;" type="text" class="form__field" placeholder="מספר ימים" name="NumDate" id='numdate' required />
            <label style="color: white; margin-left: 180px;" for="numdate" class="form__label">מספר ימים</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px ; text-align: right;" type="text" class="form__field" placeholder=" תדירות ביום" name="Frequency" id='frequency' required />
            <label style="color: white; margin-left: 172px;" for="frequency" class="form__label">תדירות ביום</label>
        </div><br>

        <div style="margin-left:135px;" class="form__group field">
            <input style="width: 250px ; text-align: right;" type="text" class="form__field" placeholder=" תאריך תפוגה" name="EndDate" id='enddate' required />
            <label style="color: white; margin-left: 165px;" for="enddate" class="form__label">תאריך תפוגה</label>
        </div><br>

        <div style="margin-left:150px;" class="form__group field">
            <label style="color: white; font-size: 15px;  font-family: 'Varela Round';"> האם התרופה תסתיים בתום השימוש</label>
            
        </div>  

        <input style="margin-left: auto;"  type="checkbox" class="form__field" name="Frequency" id='frequency' required /> 
        <span class="arrow-alt-left"> </span>

    </div>
</div>
